# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/

# Virtual environments
.venv/
env/
venv/
ENV/
.uv/

# Libraries specifiactions 
pyproject.toml

# uv specific
.uv-cache/
uv.lock

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# VSCode / IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test / Coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
